@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster+Two:wght@700&family=Roboto+Slab&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Pour Chrome et Safari */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    background-color: #1f2937 !important; /* Forcer le fond gris foncé */
    color: #2e31ff !important; /* Force la couleur du texte en néon vert */
    font-family: 'Roboto Slab', sans-serif !important; /* Forcer la police de caractères */
    -webkit-box-shadow: 0 0 20px #2e31ff inset !important; /* Réapplique le fond gris foncé */
    box-shadow: 0 0 5px #2e31ff !important;
    -webkit-text-fill-color: #2e31ff !important; /* Forcer la couleur du texte */
    transition: background-color 5000s ease-in-out 0s; /* Hack pour forcer la persistance du fond */
  }

  /* Styles lors du hover sur les propositions d'autocomplétion */
  input:hover:-webkit-autofill,
  textarea:hover:-webkit-autofill,
  select:hover:-webkit-autofill {
    box-shadow: 0 0 5px #2e31ff !important;
  }

  /* Focus explicite lors de la sélection */
  input:focus:-webkit-autofill,
  textarea:focus:-webkit-autofill,
  select:focus:-webkit-autofill {
    box-shadow: 0 0 5px #2e31ff !important;
  }
}

.App {
  text-align: center;
}

body {
  @apply bg-retroBlue text-retroBeige font-textRetro;
}

.btn-custom {
  @apply my-6 w-auto bg-retroOrange hover:bg-retroRed text-retroBeige border-retroBlue border-opacity-50 font-bold py-2 px-4 rounded-lg shadow-lg transform transition duration-300 hover:scale-105;
}

.input-custom {
  @apply w-full 
  max-w-md
  bg-retroBeige         
  text-retroBlue        
  border 
  border-retroBlue       
  rounded 
  px-3 
  py-1
  my-3 
  placeholder-retroBlue    
  focus:outline-none 
  focus:ring-2 
  focus:ring-retroBlue  
  focus:border-transparent 
  shadow-md 
  shadow-retroBlue        
  transition 
  duration-300 
  ease-in-out 
  text-sm
  hover:bg-retroOrange     
  hover:border-retroRed;   
}
